input, label {
    all: unset;
    display: inline;
}

label {
    text-align: right;
}

* {
  font-family: 'Fira Code', monospace;
  color-scheme: dark;
}

a {
    color: grey;
}

body {
    margin: 0;
    padding: 1em;
}

.prompt {
    padding: 0;
    width: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: 11em 1fr 1em;
}
